{% load static %}
<html>
    <head>
        <title>Blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'blog/blog.css' %}">
    </head>

<body>
    <div class="page-header">
        <h1><a href="/blog">Blog</a></h1>
    </div>
    <ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/polls">Polls</a></li>
    <li class="active">Blog</li>
</ol>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>
